/*

font-family: 'Arapey', serif;

Open Sans 
font-family: 'Open Sans', sans-serif;
*/


h1,
h2 {

    font-family: 'Arapey', serif;
    letter-spacing: 2px;
    
}

a {

    color: #dd9d28;
    text-decoration: none;
}

a:hover {
    color: #ce8601;
}

a:visited {

    color: #836328;
}


body {
    max-width: 90%;
    margin-left: 5%;
    position: relative;
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
    color: #1c1313
}


body::after {

    background-image: url(../img/hanson-lu-423362-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: 0.4;
    position: absolute;
    top: -7%;
    bottom: -7%;
    right: -7%;
    ;
    left: -7%;
    ;
    z-index: -1;



}

/*body after because the background image is on the body, 
so you couldn't use opacity without blurring everything else out'*/

.quote {
    width: 50%;
    margin-left: 25%;
    font-size: 160%;
    background-color: lightgray;
    padding: 80px 30px 80px 30px;
    border-left: 3px dashed;
    font-style: italic;
}


.neighbors {
    border-left: 4px solid #e293c9;
}

.farmer {
    border-left: 4px solid #86ff76;

}


li:nth-child(2) {
    background-color: yellow;
}


.good {
    color: green;
}

.bad {
    color: red;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

.floatleft {
    float: left;
    margin: 40px;
}


#notif {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: antiquewhite;
    opacity: 0.9;
}
