/*

font-family: 'Arapey', serif;
*/

p{
    
    font-family: 'Arapey', serif;
    letter-spacing: 2px; 
    font-size: 16px; 
    color: #1c1313
    
}
a{
    
    color: #dd9d28;
    text-decoration: none;   
}

a:hover{
    color:#ce8601;
}

a:visited{
    
color: #836328;
}


body{
    max-width: 90%; 
    margin-left: 5%; 
    
}